@font-face {
  font-family: 'Scada-Bold';
  src: url(/fonts/Scada-Bold.ttf);
  src: local(scada), url(/fonts/Scada-Bold.ttf);
}

@font-face {
  font-family: 'Scada-Bolditalic';
  src: url(/fonts/Scada-Bolditalic.ttf);
  src: local(scada-bold), url(/fonts/Scada-Bolditalic.ttf);
}

body {
  font-family: 'Scada-Bold', Arial;
  min-width: 400px;
  strong {
    font-family: 'Scada-Bolditalic', Arial;
    font-weight: normal;
  }
}
