html {
    height: 100%;
    font-family: Trebuchet MS, "Helvetica CY", "Nimbus Sans L", sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
    margin: 0;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.row {
    height: 100%;
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.content {
    width: 300px;
    height: 150px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#name {
    color: white;
    text-align: center;
    height: 15px;
}

.content h1 {
    text-align: center;
    color: white;
}

.bg-container {
    height: 100%;
    width: 100%;
}

.bg-blur {
    background-image: url(/img/bg/6.jpg);
    background-size: cover;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
}

.bg {
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.logo {
    width: 30%;
    position: absolute;
    z-index: 1;
    left: 35%;
    top: 5%;
}

.credits{
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 10px;
    font-size: 10px;
    color: white;
}

.blur {
    height: 100%;
    width: 100%;
    position: relative;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
}

.button {
    position: relative;
    height: 65px;
    border-radius: 3px;
    border: none;
    font-family: Trebuchet MS, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 18px;
    width: 100%;
    margin: 0 0 15px 0;
    background-color: rgba(228, 225, 225, 0.4);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4);
    color: white;
}

.loader {
    height: 25px;
    margin-right: 3px;
}

.volume {
    width: 100%;
    margin: 0;
}

.volume-box {
    background-color: rgba(228, 225, 225, 0.4);;
    padding: 1px 5px;
    border-radius: 3px;
    color: white; 
}

.text {
    text-align: center;
    margin: 10px 0;
}

@media only screen and (max-width: 500px) {
    .row {
        width: inherit;
    }
}

/*LOADER*/

.wrapper {
	position: absolute;
    /* padding-left: 1em; */
    /* padding-right: 1em; */
    /* margin: auto; */
    /* display: block; */
    /* width: 195px; */
    top: -46px;
    left: 70px;
}

.cssload-loader {
	width: 49px;
	height: 49px;
	border-radius: 50%;
	margin: 3em;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.cssload-loader {
	width: 49px;
	height: 49px;
	border-radius: 50%;
	margin: 3em;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
	animation: 1.15s infinite ease-in-out;
		-o-animation: 1.15s infinite ease-in-out;
		-ms-animation: 1.15s infinite ease-in-out;
		-webkit-animation: 1.15s infinite ease-in-out;
		-moz-animation: 1.15s infinite ease-in-out;
}
.cssload-loader:before,
.cssload-loader:after {
	width: 100%; 
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.cssload-loader:before,
.cssload-loader:after {
		content: "";
}

.cssload-loader {
		/*background-color: white;*/
		animation: cssload-flower-fan 0.46s infinite linear;
		-o-animation: cssload-flower-fan 0.46s infinite linear;
		-ms-animation: cssload-flower-fan 0.46s infinite linear;
		-webkit-animation: cssload-flower-fan 0.46s infinite linear;
		-moz-animation: cssload-flower-fan 0.46s infinite linear;
}
.cssload-loader:before{
	content: "";
	width: 80%;
	height: 80%;
	/*background-color: white;*/
	top: 10%;
	left: 10%;
	box-shadow: 5px -3px 0 rgba(255,100,100,0.7),
				5px 5px 0 rgba(100,255,100,0.7),
				-3px 5px 0 rgba(100,100,255,0.7),
				-5px -5px 0 rgba(240,240,120,0.7);
		-o-box-shadow: 5px -3px 0 rgba(255,100,100,0.7),
				5px 5px 0 rgba(100,255,100,0.7),
				-3px 5px 0 rgba(100,100,255,0.7),
				-5px -5px 0 rgba(240,240,120,0.7);
		-ms-box-shadow: 5px -3px 0 rgba(255,100,100,0.7),
				5px 5px 0 rgba(100,255,100,0.7),
				-3px 5px 0 rgba(100,100,255,0.7),
				-5px -5px 0 rgba(240,240,120,0.7);
		-webkit-box-shadow: 5px -3px 0 rgba(255,100,100,0.7),
				5px 5px 0 rgba(100,255,100,0.7),
				-3px 5px 0 rgba(100,100,255,0.7),
				-5px -5px 0 rgba(240,240,120,0.7);
		-moz-box-shadow: 5px -3px 0 rgba(255,100,100,0.7),
				5px 5px 0 rgba(100,255,100,0.7),
				-3px 5px 0 rgba(100,100,255,0.7),
				-5px -5px 0 rgba(240,240,120,0.7);
}
.cssload-loader:after{
	content: "";
	/*border: 3px solid white;*/
	z-index: 2;
	top: -3px;
	left: -3px;
}




@keyframes cssload-flower-fan {
	0%	 { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-o-keyframes cssload-flower-fan {
	0%	 { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); }
}

@-ms-keyframes cssload-flower-fan {
	0%	 { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); }
}

@-webkit-keyframes cssload-flower-fan {
	0%	 { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes cssload-flower-fan {
	0%	 { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}