html {
    height: 100%;
    font-family: Trebuchet MS, "Helvetica CY", "Nimbus Sans L", sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
    margin: 0;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.row {
    height: 100%;
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color : rgba(0, 0, 0, 0.5);
}

.content {
    width: 300px;
    height: 200px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#name {
    color: white;
    text-align: center;
}

.content h1 {
    text-align: center;
    color: white;
}

.bg {
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.logo {
    width: 30%;
    position: absolute;
    z-index: 1;
    left: 35%;
    top: 5%;
}

.credits{
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 10px;
    font-size: 10px;
    color: white;
}

.container {
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.button {
    position: relative;
    height: 65px;
    border-radius: 3px;
    border: none;
    font-family: Trebuchet MS, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 18px;
    width: 100%;
    margin: 0 0 15px 0;
    background-color: rgba(228, 225, 225, 0.4);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4);
    color: white;
}

.loader {
    height: 25px;
    margin-right: 3px;
}

.volume {
    width: 100%;
    margin: 0;
}

.volume-box {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4);
    background-color: rgba(228, 225, 225, 0.4);;
    padding: 1px 5px;
    border-radius: 3px;
    color: white; 
}

.text {
    text-align: center;
    margin: 10px 0;
}

@media only screen and (max-width: 500px) {
    .row {
        width: inherit;
    }
}

/*LOADER*/

.loading {
  margin-top: 12px;
}

.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}

.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}

.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}