.player p {
  display: inline-block;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-apperance: none;
  background-color: #ddd;
  height: 3px;
  border-radius: 2px;
  width: 100%;
  margin: -2px;
  padding: 0 !important;
  line-height: 0;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: gray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}

.track-time {
  font-size: 11px;
}
